In [120]:
import mysql.connector
from mysql.connector.errors import DataError
from mysql.connector.errors import Error

In [107]:
conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    database='vendedor'
)

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)

In [47]:
cursor = conexao.cursor()

<p>Create</p>

In [75]:
id_vendedor = 3
nome = 'vend3'
segmento = 'Prata'

In [76]:
comando = f'INSERT INTO vendedor (id_vendedor, nome, segmento) 'f'VALUES ({id_vendedor}, "{nome}", "{segmento}")'

In [77]:
cursor.execute(comando)
conexao.commit()

In [78]:
#Read
comando = 'SELECT * FROM vendedor.vendedor'
cursor.execute(comando)
resultado = cursor.fetchall()
resultado

[(1, 'vend1', 'ouro'), (2, 'vend2', 'Prata'), (3, 'vend3', 'Prata')]

In [94]:
#Update
segmento = 'Ouro'
id_vendedor = 3
comando = f'UPDATE vendedor 'f'SET  segmento = "{segmento}" 'f'where id_vendedor = {id_vendedor}'

cursor.execute(comando)
conexao.commit()

In [91]:
comando

'UPDATE vendedor SET  segmento = "Ouro" where id_vendedor = 3'

In [103]:
#Delete

id_vendedor = 3
comando = f'DELETE from vendedor 'f'where id_vendedor = {id_vendedor} '

In [104]:
comando

'DELETE from vendedor where id_vendedor = 3 '

In [105]:
cursor.execute(comando)
conexao.commit()

In [117]:
def conection_factory():
    try:
        conexao = mysql.connector.connect(
            host='localhost',
            user='root',
            password='123456',
            database='vendedor'
        )
        return conexao.cursor()
    except mysql.connector.Error as err:
        print(err.msg, '-', err.sqlstate, '-', err.errno, '-', err.args)


    finally:
        conexao.close()

In [111]:
type(conection_factory())

mysql.connector.cursor_cext.CMySQLCursor

In [116]:
conection_factory()

Can't connect to MySQL server on 'localhost:3306' (10061) - HY000 - 2003 - (2003, "2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)", 'HY000')