In [1]:
import mysql.connector
from mysql.connector.errors import DataError
from mysql.connector.errors import Error

In [5]:
conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='123456',
    database='vendedor',
    auth_plugin='mysql_native_password'
)

In [6]:
cursor = conexao.cursor()

<p>Create</p>

In [17]:
id_vendedor = 2
nome = 'vend1'
segmento = 'Prata'

In [13]:
comando = f'INSERT INTO vendedor (id_vendedor, nome, segmento)'f'VALUES ({id_vendedor}, "{nome}", "{segmento}")'

In [14]:
cursor.execute(comando)
conexao.commit()

In [68]:
from dao.conexao_fabrica import ConexaoFabrica
class BANCO:


    def listar_id(self, id_vendedor):
        c = ConexaoFabrica()
        conexao, cursor = c.conection_factory()

        cursor = conexao.cursor()
        comando = f'SELECT * FROM vendedor where id_vendedor = {id_vendedor}'
        cursor.execute(comando)
        resultado = cursor.fetchone()

        return resultado

In [71]:
from entidades.vendedor_ouro import VendedorOuro
from dao.msql_dao import MysqlDAO
from dao.vendedordao import VendedorOuroDAO

vendedordao = VendedorOuroDAO(MysqlDAO())

In [73]:
print(vendedordao.listar_id(3))

None

In [76]:
b = BANCO()
a = b.listar_id(1)
a

(1, 'vend1', 'ouro')

In [94]:
#Update
segmento = 'Ouro'
id_vendedor = 3
comando = f'UPDATE vendedor 'f'SET  segmento = "{segmento}" 'f'where id_vendedor = {id_vendedor}'

cursor.execute(comando)
conexao.commit()

In [91]:
comando

'UPDATE vendedor SET  segmento = "Ouro" where id_vendedor = 3'

In [103]:
#Delete

id_vendedor = 3
comando = f'DELETE from vendedor 'f'where id_vendedor = {id_vendedor} '

In [104]:
comando

'DELETE from vendedor where id_vendedor = 3 '

In [105]:
cursor.execute(comando)
conexao.commit()

In [117]:
def conection_factory():
    try:
        conexao = mysql.connector.connect(
            host='localhost',
            user='root',
            password='123456',
            database='vendedor'
        )
        return conexao.cursor()
    except mysql.connector.Error as err:
        print(err.msg, '-', err.sqlstate, '-', err.errno, '-', err.args)


    finally:
        conexao.close()

In [111]:
type(conection_factory())

mysql.connector.cursor_cext.CMySQLCursor

In [116]:
conection_factory()

Can't connect to MySQL server on 'localhost:3306' (10061) - HY000 - 2003 - (2003, "2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (10061)", 'HY000')

In [43]:
from dao.msql_dao import MysqlDAO
from dao.vendedordao import VendedorOuroDAO

id_vendedor = 2

vendedordao = VendedorOuroDAO(MysqlDAO())

# print(f'Id: {id_banco} - Vendedor {nome} - Segmento {segmento}')

print(vendedordao.listar_id(id_vendedor))

None

In [42]:
id_vendedor = 2

vendedordao = VendedorOuroDAO(MysqlDAO())
print(vendedordao)

# print(f'Id: {id_banco} - Vendedor {nome} - Segmento {segmento}')
print(vendedordao.listar_id(id_vendedor))

<dao.vendedordao.VendedorOuroDAO object at 0x00000273DE876188>
None